.Panel {
  background-color: var(--background-color);
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  color: black;
  position: relative;
}
