@use "../../../../app/styles/variables/global" as *;

.Sidebar {
  border-radius: 1.5rem;
  display: flex;
  transition: margin 1s ease 0s;
  width: 420px;
  z-index: 150;
  max-height: calc(100vh - 7rem);
  margin-block-end: 1rem;
}

.Wrapper {
  overflow-y: auto;
}

.TextWrapper {
  margin-block-end: 1.5rem;
}


.MobileTrigger {
  align-self: center;
  margin-top: auto;
  padding: 0.75rem 1.5rem;
  z-index: 150;
}

.MobileSheet {
  z-index: 150;
  display: flex;
  max-width: 100%;
  padding: 0 16px;
  max-height: calc(100vh - 20rem);
}

.OpenButton {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.CloseButton {
  position: absolute;
  top: 12px;
  right: 12px;
  background: none;
  border: none;
  cursor: pointer;
  color: var(--accent-color);
  display: flex;
  align-items: center;
  justify-content: center;
}
