.OnBoarding {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 1rem;
}

.OnBoardingWrapper {
  border: 1px solid var(--border-color);
  max-width: 48rem;
  width: 100%;
}